/Farmer/Farmer/nbproject/private/
/Farmer/ArbolSintactico/nbproject/private/
/Farmer/ArbolSintactico/build/
/Farmer/Farmer/build/
/ProblemaJarras/nbproject/private/
/ProblemaJarras/build/
/OrdenarABC/nbproject/private/
/OrdenarABC/build/